.mainNav {
  background-color: #2c364c;
  padding: 8px;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  height: 6vw;
}
.navImage {
  height: 40px;
  width: 120px;
  align-self: center;
  margin-top: 15px;
}
.navRightCont {
  display: flex;
  color: white;
  margin-right: 35%;
  margin-left: 35%;
}
.navRightJob {
  color: white;
}
.navRightHome {
  margin-right: 12px;
  color: white;
}
.navButton {
  background-color: #6366f1;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  height: 40px;
  align-self: center;
}
